<include file='Public/header' />

		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>系主任 <small>管理系统</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> 点击左侧导航栏进行操作</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              欢迎使用系主任管理系统
            </div>
          </div>
        </div><!-- /.row -->

      </div>

    </div><!-- /#wrapper -->

   <include file='Public/footer' />