{include file="public/header" /}

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      {include file="public/menu" /}

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <form method="post" action="{:url('index/carShow')}" role="form">
              <h1>车辆外观</h1>
              <input type="hidden" value="车辆外观" name="title">
              <div class="form-group">
                <label>插入车辆图片</label>
                <input type="file" id="input-id" name="img" accept="image/*"/>
              </div>
              {if condition="$res['status'] eq 0"}
              <a class="btn btn-primary" href="{:url('index/carShow',['id'=>$res['id'],'status'=>1,'key'=>1])}" role="button">审核通过</a>
              <a class="btn btn-danger" href="{:url('index/suggest',['id'=>$res['id'],'key'=>1])}" role="button">审核不通过</a>
              {elseif condition="$res['status'] eq 2"}
              <label>修改建议</label>
              <textarea name="suggest" style="height: 100px;" class="form-control">{$res['suggest']}</textarea>
              {else/}
              {/if}
              <input type="hidden" value="" name="picture_url" id="path">
            </form>
          </div>
          <div class="col-lg-4"></div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {include file="public/footer" /}
    <script>
        $(document).ready(function(){
            $("#path").attr("value","{$res.picture_url}");
        });
        $("#input-id").fileinput({
            language: "zh",
            showCaption: false, // 不显示本地文件名
            allowedFileTypes: ['image'], // 只允许上传图片
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            initialPreview: [
                '<img class="file-preview-image kv-preview-data" src='+'"{$res.picture_url}">'
            ],
            uploadUrl: "{:url('index/upload')}" //上传图片的服务器地址
        }).on("fileuploaded", function (event, data, previewId, index){
            $("#path").attr("value",data.response["path"]);
        });
    </script>
  </body>
</html>