{include file="public/header" /}

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      {include file="public/menu" /}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>{$title}审核列表</h1>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <div style="margin-left: 15px;">搜索（输入名称）：</div>
              <div class="form-group input-group">
                <form method="post" action="{:url('index/processStatus')}" role="form">
                  <div class="col-lg-10">
                    <input type="text" name="title" class="form-control">
                    <input type="hidden" name="status" value="{$status}" class="form-control">
                  </div>
                    <div class="col-lg-2">
                    <button class="btn btn-primary" type="submit">搜索</button>
                    </div>
                </form>
              </div>
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>名称<i class="fa fa-sort"></i></th>
                    <th>提交日期<i class="fa fa-sort"></i></th>
                    <th>修改日期<i class="fa fa-sort"></i></th>
                    <th>审核状态<i class="fa fa-sort"></i></th>
                    <th>操作<i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                {volist name="res" id="vo" key="k"}
                {volist name="vo" id="data"}
                {if condition="$data neq null"}
                  <tr>
                    <td>{$data["title"]}</td>
                    <td>{$data["create_time"]}</td>
                    <td>{$data["update_time"]}0</td>
                    {if condition="$data['status'] eq 0"}
                    <td><span class="label label-default">待审核</span></td>
                    {elseif condition="$data['status'] eq 1"/}
                    <td><span class="label label-success">审核通过</span></td>
                    {else /}
                    <td><span class="label label-danger">未修改</span></td>
                    {/if}
                    <td><a class="btn btn-primary" href="{:url('index/middleWare',['key'=>$k-1,'id'=>$data['id']])}" role="button">查看</a></td>
                  </tr>
                {/if}
                {/volist}
                {/volist}
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {include file="public/footer" /}

  </body>
</html>