{% extends "admin/home.html" %}
{% import "admin/page.html" as pg %}
{% block content %}
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>我的商品列表</h1>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
              <span>根据商品编号进行搜索</span>
            <input type="text" id="key_commodity" />
            <a id="do_search" class="btn btn-primary">搜索</a>
            </div>
            <div class="table-responsive">
              {% for msg in get_flashed_messages() %}
					<p style="color:red;">{{ msg }}</p>
              {% endfor %}
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>标题<i class="fa fa-sort"></i></th>
                    <th>价格<i class="fa fa-sort"></i></th>
                    <th>商品编号<i class="fa fa-sort"></i></th>
                    <th>创建时间<i class="fa fa-sort"></i></th>
                    <th>上传用户类型<i class="fa fa-sort"></i></th>
                    <th>查看或修改信息<i class="fa fa-sort"></i></th>
                    <th>删除<i class="fa fa-sort"></i></th>
                    <th>置顶<i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                {% for v in commodity_list.items %}
                  <tr>
                    <td>{{ v.title }}</td>
                    <td>{{ v.price }}</td>
                    <td>{{ v.number }}</td>
                    <td>{{ v.time }}</td>
                    {% if v.role == 1 %}
                    <td>管理员</td>
                    {% else %}
                    <td>普通用户</td>
                    {% endif %}
                    <td><a href="{{ url_for('admin.edit',id=v.id) }}">点击查看或修改</a></td>
                    <td><a href="{{ url_for('admin.delbook',id=v.id) }}">删除</a></td>
                    {% if v.see == 1 %}
                    <td><a href="{{ url_for('admin.seeEdit',id=v.id) }}">取消置顶</a></td>
                    {% else %}
                    <td><a href="{{ url_for('admin.seeEdit',id=v.id) }}">确认置顶</a></td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="box-footer clearfix">
              {{ pg.page(commodity_list,"admin.tables") }}
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->
{% endblock %}

{% block js %}
<script>
  $("#do_search").click(function(){
      var key = $("#key_commodity").val();
      location.href = "{{ url_for('admin.search',page=1) }}?key=" + key;
      });
</script>
{% endblock %}