{% macro page(data,url,category_id) -%}
{% if data %}
<div class="pagenation">
    {% if data.has_prev %}
	<a href="{{ url_for(url,page=data.prev_num,id=category_id) }}">《上一页</a>
    {% else %}
    <a href="#">《上一页</a>
    {% endif %}
    {% for v in data.iter_pages() %}
    {% if v %}
       {% if v == data.page %}
	      <a href="#" class="active">{{ v }}</a>
       {% else %}
          <a href="{{ url_for(url,page=v,id=category_id) }}">{{ v }}</a>
       {% endif %}
    {% else %}
    <a href="#">&hellip;</a>
    {% endif %}
    {% endfor %}
    {% if data.has_next %}
	<a href="{{ url_for(url,page=data.next_num,id=category_id) }}">下一页》</a>
    {% else %}
    <a href="#">下一页》</a>
    {% endif %}
</div>
{% endif %}
{%- endmacro %}