
<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{{ url_for('static',filename='images/logo.png') }}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{{ url_for('home.info') }}" id="m-1">· 个人信息</a></li>
				<li><a href="{{ url_for('home.order',page=1) }}" id="m-3">· 全部订单</a></li>
				<li><a href="{{ url_for('home.siteList',page=1) }}" id="m-2">· 地址列表</a></li>
			</ul>
		</div>
