{% extends "home/home.html" %}
{% import "home/user_page.html" as user_pg %}
{% block content %}
{% include "home/user_home.html" %}
		<div class="right_content clearfix">
			{% for msg in get_flashed_messages() %}
					<p style="color:red;">{{ msg }}</p>
			{% endfor %}
				<h3 class="common_title2">地址列表</h3>

				<table class="order_list_table w980" style="border-collapse:separate; border-spacing:0px 10px;">
                    {% for v in address.items %}
						<tr>
							<td width="55%">{{v.address}} （{{v.name}} 收） {{v.phone}}</td>
							<td width="7%"><a href="{{url_for('home.siteEdit',id=v.id)}}" class="oper_btn">设为默认地址</a></td>
                            <td width="4%"><a href="{{ url_for('home.site',id=v.id) }}" class="oper_btn">修改地址</a></td>
							<td width="2%"><a href="{{url_for('home.siteDel',id=v.id)}}" class="oper_btn">删除</a></td>
						</tr>
                    {% endfor %}
				</table>

				{{ user_pg.page(address,"home.siteList") }}
		</div>
	</div>


{% endblock %}
{% block js %}
<script>
	$(document).ready(function(){
	          $("#m-2").addClass("active");
	});
</script>
{% endblock %}