{% extends "user/home.html" %}\
{% import "user/page.html" as pg %}
{% block content %}
    <main class="content_wrapper">
                    <!--page title start-->
                    <div class="page-heading">
                        <div class="container-fluid">
                            <div class="row d-flex align-items-center">
                                <div class="col-8">
                                    <div class="page-breadcrumb">
                                        <h1>费用列表</h1>
                                    </div>
                                </div>
                                <div class="btn-demo col-4">
                                    <a href="{{ url_for("user.expenseAdd") }}">
                                      <button type="button" class="btn btn-info"><i class="icon-plus"></i> 添加费用</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page title end-->
                    <div class="container-fluid">
                      <div class="col-12">
                        <div class="full_chart card mb-4">
                          <div class="card_chart">
                            <div class="student_table table-responsive-lg">
                              <table class="table table-hover text-nowrap">
                                <thead>
                                  <tr>
                                    <th>金额</th>
                                    <th>状态</th>
                                    <th>类型</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for v in expense_list.items %}
                                  <tr>
                                    <td>
                                      <span class="weight-500">￥{{ v.money }}</span>
                                    </td>
                                    <td>
                                      {% if v.status == 0 %}
                                          <span class="label label-default">未审核</span>
                                      {% elif v.status == 1 %}
                                          <span class="label label-success">审核通过</span>
                                      {% else %}
                                          <span class="label label-warning">审核未通过</span>
                                      {% endif %}
                                    </td>
                                     <td>
                                      <span class="weight-500">{{ v.expense_type.name }}</span>
                                    </td>
                                    <td>{{ v.add_time }}</td>
                                    <td>
                                        <button type="button" onclick="window.location.href ='{{ url_for('user.expenseDetail',id=v.id) }}'" class="btn btn-outline-info btn-sm ml-1">查看详情</button>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="card_chart">
                            <div class="row">
                              <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="bs4-table_paginate">
                                  {{ pg.page(expense_list,'user.expenseList') }}
                                </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </main>
{% endblock %}