{% extends "user/home.html" %}
{% block content %}
    <main class="content_wrapper">
                    <!--page title start-->
                    <div class="page-heading">
                        <div class="container-fluid">
                            <div class="row d-flex align-items-center">
                                <div class="col-12">
                                    <div class="page-breadcrumb">
                                        <h1>Data Tables</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page title end-->
                    <div class="container-fluid">
                      <div class="col-12">
                        <div class="full_chart card mb-4">
                          <div class="chart_header">
                            <div class="chart_headibg">
                              <h3>Social Campaigns</h3>
                            </div>
                          </div>
                          <div class="card_chart">
                            <div class="student_table table-responsive-lg">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>Campaign</th>
                                    <th>Client</th>
                                    <th>Changes</th>
                                    <th>Budget</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <span class="weight-500">Facebook</span>
                                    </td>
                                    <td>Beavis</td>
                                    <td>
                                      <span class="txt-success">
                                        <i class="fa fa-sort-up mr-10 "></i>
                                        <span>2.43%</span>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="weight-500">$1478</span>
                                    </td>
                                    <td>
                                      <span class="label label-warning">Active</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <span class="weight-500">Youtube</span>
                                    </td>
                                    <td>Felix</td>
                                    <td>
                                      <span class="txt-success">
                                        <i class="fa fa-sort-up mr-10 "></i>
                                        <span>1.43%</span>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="weight-500">$951</span>
                                    </td>
                                    <td>
                                      <span class="label label-danger">Closed</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <span class="weight-500">Twitter</span>
                                    </td>
                                    <td>Cannibus</td>
                                    <td>
                                      <span class="txt-danger">
                                        <i class="fa fa-sort-down mr-10 "></i>
                                        <span>-8.43%</span>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="weight-500">$632</span>
                                    </td>
                                    <td>
                                      <span class="label label-default">Hold</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <span class="weight-500">Spotify</span>
                                    </td>
                                    <td>Neosoft</td>
                                    <td>
                                      <span class="txt-success">
                                        <i class="fa fa-sort-up mr-10 "></i>
                                        <span>7.43%</span>
                                      </span>
                                    </td>
                                    <td>
                                      <span class=" weight-500">$325</span>
                                    </td>
                                    <td>
                                      <span class="label label-default">Hold</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="card_chart">
                            <div class="row">
                              <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="bs4-table_paginate">
                                  <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="bs4-table_previous"><a href="#" aria-controls="bs4-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="bs4-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="bs4-table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="bs4-table" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item next" id="bs4-table_next"><a href="#" aria-controls="bs4-table" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </main>
{% endblock %}