{% extends "user/home.html" %}\
{% import "user/page.html" as pg %}
{% block content %}
    <main class="content_wrapper">
                    <!--page title start-->
                    <div class="page-heading">
                        <div class="container-fluid">
                            <div class="row d-flex align-items-center">
                                <div class="col-8">
                                    <div class="page-breadcrumb">
                                        <h1>公告列表</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page title end-->
                    <div class="container-fluid">
                      <div class="col-12">
                        <div class="full_chart card mb-4">
                          <div class="card_chart">
                            <div class="student_table table-responsive-lg">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>序号</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for v in notice_list.items %}
                                  <tr>
                                    <td>
                                      <span class="weight-500">{{ loop.index }}</span>
                                    </td>
                                    <td>{{ v.add_time }}</td>
                                    <td>
                                    <button type="button" data-toggle="modal" data-target="#Modal" onclick="addContent('{{ v.content }}')" class="btn btn-outline-info btn-sm ml-1">详情</button>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="card_chart">
                            <div class="row">
                              <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="bs4-table_paginate">
                                  {{ pg.page(notice_list,'user.noticeList') }}
                                </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </main>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
                     aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">公告内容</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="content"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block js %}
<script>
function addContent(content) {
    $("#content").text(content);
}
</script>
{% endblock %}