{% extends "user/home.html" %}
{% block content %}
    <main class="content_wrapper">
				<!--page title start-->
				<div class="page-heading">
					<div class="container-fluid">
						<div class="row d-flex align-items-center">
							<div class="col-12">
								<div class="page-breadcrumb">
									<h1>历史订单</h1>
								</div>
							</div>
							<div class="col-12  d-md-flex">
								<div class="breadcrumb_nav">
									<ol class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
											<a class="parent-item" href="index.html">Home</a>
											<i class="fa fa-angle-right"></i>
										</li>
										<li class="active">
											历史订单
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--page title end-->


				<div class="container-fluid">
                    {% for v in schedule_list %}
					<div class="row">
						<div class="col-12 mb-4">
							<div class="card card-shadow">
								<div class="card-body text-secondary">
									<div class="col-12">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
										<span>{{ v.start_time }}</span>
                                        <span class="float-right"><a href="{{ url_for("user.scheduleDetail",id=v.id) }}">已完成 ></a></span>
									</div>
									<div class="col-12">
										<i class="fa fa-telegram text-success" aria-hidden="true"></i>
										<span>{{ v.start_point }}</span>
									</div>
									<div class="col-12">
										<i class="fa fa-telegram text-warning" aria-hidden="true"></i>
										<span>{{ v.end_point }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>

			</main>
{% endblock %}