{% extends "home/home.html" %}
{% import "home/page.html" as pg %}
{% block content %}
{% include "student/menu.html" %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-6">
            <h1>我的实验</h1>
          </div>
        </div><!-- /.row -->
        <div style="margin-top: 40px;" class="row">
          <div class="col-lg-12">
           <div class="row">
				{% for msg in get_flashed_messages() %}
				<p style="color:red;font-size: 20px;">{{ msg }}</p>
				{% endfor %}
			</div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>实验题目<i class="fa"></i></th>
                    <th>开始时间<i class="fa"></i></th>
                    <th>结束时间<i class="fa"></i></th>
                    <th>自动评阅分数<i class="fa"></i></th>
                    <th>手动评阅分数<i class="fa"></i></th>
                    <th>实验模板<i class="fa"></i></th>
                    <th>上传实验</th>
                    <th>操作<i class="fa"></i></th>
                  </tr>
                </thead>
                <tbody>
                {%  for v in select_list.items %}
                  <tr>
                    <td>{{ v.experiment.name }}</td>
                    <td>{{ v.experiment.start_time }}</td>
                    <td>{{ v.experiment.end_time }}</td>
                    {% if v.aut_score == None  %}
                    <td>未评分</td>
                    {% else %}
                    <td>{{ v.aut_score }}</td>
                    {% endif %}
                    {% if v.tea_score == None  %}
                    <td>未评分</td>
                    {% else %}
                    <td>{{ v.tea_score }}</td>
                    {% endif %}
                    <td>
                      <a class="btn btn-primary" href="{{ url_for('student.download',id=v.experiment.id) }}" role="button">下载模板</a>
                    </td>
                    {% if v.is_aut == 0  %}
                    <td>
                       <form action="{{ url_for('student.addWord',id=v.id) }}" method="post" enctype="multipart/form-data">
                       <input name="file"  accept=".docx" type="file" required><button style="margin-top: 10px" type="submit" class="btn btn-primary">上传</button>
                       </form>
                    </td>
                    {% else %}
                    <td>
                       <form action="{{ url_for('student.addWord',id=v.id) }}" method="post" enctype="multipart/form-data">
                       <input name="file" accept=".docx" type="file" required><button style="margin-top: 10px" type="submit" class="btn btn-primary">重新上传</button>
                       </form>
                    </td>
                    {% endif %}
                    <td>
                      <button type="button" data-toggle="modal" data-target="#Modal2" onclick="addId('{{ v.id }}')" class="btn btn-danger">删除</button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="box-footer clearfix">
              {{ pg.page(select_list,'student.score') }}
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

{% endblock %}
{% block js %}
<script>
function addId(id) {
    $("#delId").val(id);
}
function del() {
    var id = $("#delId").val();
    var str = "{{url_for("student.scoreDel")}}?id=";
    location.href =str+id;
}
</script>
{% endblock %}