{% extends "home/home.html" %}
{% import "home/page.html" as pg %}
{% block content %}
{% include "teacher/menu.html" %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-6">
            <h1>实验列表</h1>
          </div>
          <div style="margin-top: 40px;" class="clo-lg-6">
            <div class="col-lg-4"><a class="btn btn-primary" href="{{ url_for('teacher.addExperiment') }}" role="button">添加实验</a></div>
          </div>
        </div><!-- /.row -->
        <div style="margin-top: 40px;" class="row">
          <div class="col-lg-12">
           <div class="row">
				{% for msg in get_flashed_messages() %}
				<p style="color:red;">{{ msg }}</p>
				{% endfor %}
			</div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>实验题目<i class="fa"></i></th>
                    <th>开始时间<i class="fa"></i></th>
                    <th>结束时间<i class="fa"></i></th>
                    <th>实验报告模板<i class="fa"></i></th>
                    <th>操作<i class="fa"></i></th>
                  </tr>
                </thead>
                <tbody>
                {%  for v in experiment_list.items %}
                  <tr>
                    <td>{{ v.name }}</td>
                    <td>{{ v.start_time }}</td>
                    <td>{{ v.end_time }}</td>
                    <td><a class="btn btn-primary" role="button" onclick="openmydoc('{{ file_dir }}{{ v.model_url }}')" type="activxobject(word.application)">预览</a></td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('teacher.editKeyWords',id=v.id) }}" role="button">查看关键词</a>
                        <a class="btn btn-danger" href="{{ url_for('teacher.delExperiment',id=v.id) }}" role="button">删除</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
              <div class="box-footer clearfix">
              {{ pg.page(experiment_list,'teacher.experiment') }}
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

{% endblock %}
{% block js %}
<script>
        function openmydoc(path) {
            var doc = new ActiveXObject("Word.Application");
            doc.visible = true;
            doc.Documents.Open(path);
        }
    </script>
{% endblock %}