<footer class="footer text-sm-left">© 2019-2020 <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i>by <a href="#">文承华</a></span></footer>
<!-- JavaScript -->
<script src="__STATIC__/index/js/jquery.min.js"></script>
<!--<script src="__STATIC__/index/js/jquery-1.10.2.js"></script>-->
<script src="__STATIC__/index/js/bootstrap.js"></script>

<script src="__STATIC__/index/js/raphael-min.js"></script>
<script src="__STATIC__/index/js/morris-0.4.3.min.js"></script>
<script src="__STATIC__/index/js/tablesorter/jquery.tablesorter.js"></script>
<script src="__STATIC__/index/js/tablesorter/tables.js"></script>
<script src="__STATIC__/index/js/fileinput.js"></script>
<script src="__STATIC__/index/js/fileinput_locale_zh.js"></script>
<script src="__STATIC__/index/js/bootstrap-datetimepicker.js" type="text/javascript" charset="UTF-8"></script>