{% extends "home/home.html" %}
{% import "home/page.html" as pg %}
{% block content %}
{% include "admin/menu.html" %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>班级管理</h1>
          </div>
        </div><!-- /.row -->
        <div style="margin-top: 40px;" class="row">
          <div class="col-lg-6">
            <div class="row">
						{% for msg in get_flashed_messages() %}
					     <p style="color:red;font-size: 20px;">{{ msg }}</p>
					     {% endfor %}
			</div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>班级编号<i class="fa"></i></th>
                    <th>班级名<i class="fa"></i></th>
                    <th>操作<i class="fa"></i></th>
                  </tr>
                </thead>
                <tbody>
                {%  for v in class_list.items %}
                  <tr>
                    <td>{{ v.number }}</td>
                    <td>{{ v.name }}</td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#Modal2" onclick="addId('{{ v.id }}')" class="btn btn-danger">删除</button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="box-footer clearfix">
              {{ pg.page(class_list,'admin.aclass') }}
            </div>
          </div>
          <div class="clo-lg-6">
            <div class="col-lg-4"><a class="btn btn-primary" href="{{ url_for('admin.classAdd') }}" role="button">添加班级</a></div>
            <div class="col-lg-4 alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>注意!</strong>请勿重复添加班级名或班级号
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->
{% endblock %}
{% block js %}
<script>
function addId(id) {
    $("#delId").val(id);
}
function del() {
    var id = $("#delId").val();
    var str = "{{url_for("admin.classDel")}}?id=";
    location.href =str+id;
}
</script>
{% endblock %}
