{% extends "home/home.html" %}
{% block content %}
{% include "admin/menu.html" %}
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>学生管理</h1>
          </div>
        </div><!-- /.row -->
        <div style="margin-top: 40px;" class="row">
          <div class="col-lg-6">
            搜索（输入学号）：
            <div class="form-group input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>学号<i class="fa"></i></th>
                    <th>姓名<i class="fa"></i></th>
                    <th>操作<i class="fa"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>/index.html</td>
                    <td>/index.html</td>
                    <td>
                      <button type="button" class="btn btn-primary">恢复密码</button>
                      <button type="button" class="btn btn-danger">删除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="clo-lg-6">
            <div class="col-lg-4 alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              恢复密码为初始密码：123456    
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

{% endblock %}
