<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>图标点标记</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <style>
        html,body,#container{
            height:100%;
            width:100%;
        }
        .amap-icon img{
            width: 25px;
            height: 34px;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script src="{{ url_for('static',filename='admin/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dfdf4bf6d790e5d80a248168446dfe75"></script>
<script type="text/javascript">
    // 创建地图实例
    var map = new AMap.Map("container", {
        zoom: 13,
        center: ['122.51312977053033','37.16826066111377'],
        resizeEnable: true
    });
	// 创建一个 Icon
    var startIcon = new AMap.Icon({
        // 图标尺寸
        size: new AMap.Size(26, 13),
        // 图标的取图地址
        image: "{{ url_for('static',filename='admin/images/car_1.png') }}",
        // 图标所用图片大小
        imageSize: new AMap.Size(26, 13)
    });

    // 将 icon 传入 marker
setInterval("test()",3000);
function test() {
    console.log('1');
    $.ajax({
        url: 'http://127.0.0.1:5000/admin/test/',
        async: true,
        type: 'get',
        success: function (data) {
            b = data.data.location.split(',');
            var startMarker = new AMap.Marker({
                position: new AMap.LngLat(b[0], b[1]),
                icon: startIcon,
                label: {
                    content: '7.38km/h',
                    offset: new AMap.Pixel(-10, -25)
                }
            });
            // 将 markers 添加到地图
            map.add([startMarker]);
        },
    });
       map.clearMap()
}
</script>
</body>
</html>