<!DOCTYPE html>
<html lang="zh-CN" data-ng-app="qcoa" class="no-js ng-scope">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>车队管家</title>

    <link rel="shortcut icon" href="{{ url_for('static',filename='admin/images/title_icon_cheoa.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/css/main.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
<div class="app ng-scope">
<div class="container-fluid ng-scope">
    <div class="row">
        {% include "admin/menu.html" %}
    <div class="col p-0 m-0">
    <div class="row mx-3 my-2 action-bar justify-content-between align-items-center">
                <div class="row p-0 m-0">
                    <div class="row m-0 p-0 align-items-center" ng-click="toggleMenu()" style="cursor: pointer;">
                        <span ng-class="isCloseMenu?&#39;glyphicon glyphicon-chevron-right&#39;:&#39;glyphicon glyphicon-chevron-left&#39;" class="glyphicon glyphicon-chevron-left"></span>
                        <span class="glyphicon glyphicon-th-list"></span>
{#                        <div title="清风代码" class="text-truncate ml-1" style="max-width: 200px"><b class="ng-binding">清风代码</b></div>#}
                    </div>
                    <!-- <span class="row p-0 m-0 ml-2 align-items-center" id="broadcast-view">
                        <span class="text-warning glyphicon glyphicon-volume-up"></span>
                        <div id="broadcast-div">
                            <ul class="pl-1" id="broadcast-ul" style="margin-top: 0px;"><li><div class="row m-0 p-0 align-items-center"><div class="text-truncate pl-1" style="max-width: 500px"><a target="_blank" href="https://mp.weixin.qq.com/s/8fzdAKQnueki91nTb-7Qnw" class="text-warning text-decoration-none">ADAS报警！您车队的司机老汪在高速路上开车睡着了！</a></div></div></li><li><div class="row m-0 p-0 align-items-center"><div class="text-truncate pl-1" style="max-width: 500px"><a target="_blank" href="https://m.huya.com/20596749" class="text-warning text-decoration-none">排班调度模块的视频教学，亲们请点击观看！</a></div></div></li><li><div class="row m-0 p-0 align-items-center"><div class="text-truncate pl-1" style="max-width: 500px"><a target="_blank" href="https://mp.weixin.qq.com/s/WMv1gx5goj2M4ZAgic1fnA" class="text-warning text-decoration-none">【提醒功能优化】所有车队都用得到，戳进来看看</a></div></div></li></ul>
                        </div>
                    </span> -->
                </div>
                <div class="row mr-2 ml-2">
{#                    <a ui-sref="app.message.list" class="text-decoration-none" href="https://tms.cheoa.cn/#/app/message/list">#}
{#                        <span style="color: #88A4E8">请假消息</span> <span class="badge badge-danger ng-binding">2</span>#}
{#                    </a>#}
{#                    <a ui-sref="app.message.list" class="text-decoration-none" href="https://tms.cheoa.cn/#/app/message/list">#}
{#                        <span style="color: #88A4E8">费用消息</span> <span class="badge badge-danger ng-binding">2</span>#}
{#                    </a>#}
                    <img class="ml-3 user-avatar" src="{{ url_for('static',filename='admin/images/user-avatar.png') }}">
                    <div class="btn-group ml-3">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                            <span class="ng-binding">孙迎港</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ url_for('admin.changePwd') }}">修改密码</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('admin.logout') }}" style="cursor: pointer;">退出账号</a>
                        </div>
                    </div>
                </div>
            </div>
        {% block content %}{% endblock %}
    </div>
    <div class="footer-message-main text-center offset-1">
            <font size="3">© 2019-2020 Copyright. 车队管家</font>
        </div>
	</div>
</div>
</div>
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
<div id="toast-div" style="position:absolute;z-index:2147483647;top:60px;right:18px">
    <div id="alert-div-556508" class="toast fade show" style="min-width: 256px">
        <div class="toast-header">
            <img src="{{ url_for('static',filename='admin/images/title_icon_cheoa.jpg') }}" width="24" height="24" class="rounded mr-2">
            <strong class="mr-auto">温馨提示</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close">
                {#                <span>×</span>#}
            </button>
        </div>
        <div class="toast-body text-success">{{ msg }}</div>
    </div>
</div>
{% endfor %}
{% for msg in get_flashed_messages(category_filter=["err"]) %}
<div id="toast-div" style="position:absolute;z-index:2147483647;top:60px;right:18px">
    <div id="alert-div-556508" class="toast fade show" style="min-width: 256px">
        <div class="toast-header">
            <img src="{{ url_for('static',filename='admin/images/title_icon_cheoa.jpg') }}" width="24" height="24" class="rounded mr-2">
            <strong class="mr-auto">温馨提示</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close">
{#                <span>×</span>#}
            </button>
        </div>
        <div class="toast-body text-danger">{{ msg }}</div>
    </div>
</div>
{% endfor %}
<!-- scripts -->
<!-- build:js -->
<script src="{{ url_for('static',filename='admin/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='admin/js/popper.js') }}"></script>
<script src="{{ url_for('static',filename='admin/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='admin/js/commin.js') }}"></script>
<script>
$(document).ready(
function(){
$("#toast-div").delay(4000).hide(0);
}
)
</script>
<script type="text/javascript" src="{{ url_for('static',filename='admin/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
<script type="text/javascript" src="{{ url_for('static',filename='admin/js/bootstrap-datetimepicker.zh-CN.js') }}" charset="UTF-8"></script>
<script>
    $('#datetimepicker').datetimepicker({
      format: 'yyyy-mm-dd hh:ii',
      language:'zh-CN'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'yyyy-mm-dd hh:ii',
      language:'zh-CN'
    });
</script>
{% block js %}{% endblock %}
</body>
</html>