{% extends "admin/home.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/css/index.css') }}">
{% endblock %}
{% block content %}
      <!-- 内容 -->
      <div class="content-center-div">
                <div class="app-content-body fade-in-up ng-scope">

                    <div class="px-3 ng-scope">
                        <div class="row align-items-center my-3 mx-2">
                            <div class="title-icon-style mr-2"></div>
                            <span style="color: #88A4E8; ">日常管理</span>
                        </div>
                        <div class="row">
                            <div class="col" ui-sref="app.scheduling.list" href="#/app/scheduling/list">
                                <div class="daily-manager">
                                    <img src="{{ url_for('static',filename='admin/images/home-banner-bg.png') }}" class="h-100 w-100">
                                    <img class="daily-icon" src="{{ url_for('static',filename='admin/images/home-banner-task.png') }}">
                                    <div class="daily-manager-title">
                                        <font>排班调度</font>
                                        <img src="{{ url_for('static',filename='admin/images/home-banner-next.png') }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col" ui-sref="app.monitor" href="#/app/monitor">
                                <div class="daily-manager">
                                    <img src="{{ url_for('static',filename='admin/images/home-banner-bg.png') }}" class="h-100 w-100">
                                    <img class="daily-icon" src="{{ url_for('static',filename='admin/images/home-banner-location.png') }}">
                                    <div class="daily-manager-title">
                                        <font>定位监控</font>
                                        <img src="{{ url_for('static',filename='admin/images/home-banner-next.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col" ui-sref="app.expense.list" href="#/app/expense/list">
                                <div class="daily-manager">
                                    <img src="{{ url_for('static',filename='admin/images/home-banner-bg.png') }}" class="h-100 w-100">
                                    <img class="daily-icon" src="{{ url_for('static',filename='admin/images/home-banner-finance.png') }}">
                                    <div class="daily-manager-title">
                                        <font>财务结算</font>
                                        <img src="{{ url_for('static',filename='admin/images/home-banner-next.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col" ui-sref="app.violation.query" href="#/app/violation/query">
                                <div class="daily-manager">
                                    <img src="{{ url_for('static',filename='admin/images/home-banner-bg.png') }}" class="h-100 w-100">
                                    <img class="daily-icon" src="{{ url_for('static',filename='admin/images/home-banner-count.png') }}">
                                    <div class="daily-manager-title">
                                        <font>考勤统计</font>
                                        <img src="{{ url_for('static',filename='admin/images/home-banner-next.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col" ui-sref="app.remind.list" href="#/app/remind/list">
                                <div class="daily-manager">
                                    <img src="{{ url_for('static',filename='admin/images/home-banner-bg.png') }}" class="h-100 w-100">
                                    <img class="daily-icon" src="{{ url_for('static',filename='admin/images/home-banner-remind.png') }}">
                                    <div class="daily-manager-title">
                                        <font>公告提醒</font>
                                        <img src="{{ url_for('static',filename='admin/images/home-banner-next.png') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
    <div class="row" style="padding: 0.9375rem;">
        <div class="card col home-card">
            <div class="card-header home-card-header p-2">排班数据报表</div>
            <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div class="mb-2">
                    <img src="{{ url_for('static',filename='admin/images/icon_title.png') }}">
					<font class="ml-2" color="white" size="2">近6个月的累计排班</font>
                </div>
                <canvas id="halfYearSchedules" width="324" height="162" class="chartjs-render-monitor" style="display: block; width: 324px; height: 162px;"></canvas>
                <div class="dropdown-divider" style="border-top: 1px solid rgb(15,45,115);"></div>
                <div>
					<table class="table text-center table-sm table-borderless">
						<tbody>
                        <tr>
							<td>
								<div class="s-today-tomorrow-view">
									今日排班
									<div style="font-weight: bold;font-size: 18px;" class="ng-binding">{{scheduleToday[0]}}</div>
								</div>

							</td>
							<td>
								<img src="{{ url_for('static',filename='admin/images/icon_scheduling-task_car.png') }}" width="48">
							</td>
							<td>
								<div class="s-today-tomorrow-view">
									明日排班
									<div style="font-weight: bold;font-size: 18px;" class="ng-binding">{{scheduleTomorrow[0]}}</div>
								</div>

							</td>
						</tr>
						<tr>
							<td>
								<div class="row justify-content-end align-items-center m-0 p-0">
									<font class="mr-1 ng-binding" size="2" color="#F4F4F4">{{scheduleToday[1]}}</font>
								</div>
							</td>
							<td>
								<font class="" size="1" color="#F4F4F4">未分配司机或车辆</font>
							</td>
							<td>
								<div class="row align-items-center m-0 p-0">
									<font class="ml-1 ng-binding" size="2" color="#F4F4F4">{{scheduleTomorrow[1]}}</font>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="row justify-content-end align-items-center m-0 p-0">
									<font class="mr-1 ng-binding" size="2" color="#F4F4F4">{{scheduleToday[2]}}</font>
								</div>
							</td>
							<td>
								<font class="" size="1" color="#F4F4F4">未开始任务</font>
							</td>
							<td>
								<div class="row align-items-center m-0 p-0">
									<font class="ml-1 ng-binding" size="2" color="#F4F4F4">{{scheduleTomorrow[2]}}</font>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="row justify-content-end align-items-center m-0 p-0">
									<font class="mr-1 ng-binding" size="2" color="#F4F4F4">{{scheduleToday[3]}}</font>
								</div>
							</td>
							<td>
								<font class="" size="1" color="#F4F4F4">进行中任务</font>
							</td>
							<td>
								<div class="row align-items-center m-0 p-0">
									<font class="ml-1 ng-binding" size="2" color="#F4F4F4">{{scheduleTomorrow[3]}}</font>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="row justify-content-end align-items-center m-0 p-0">
									<font class="mr-1 ng-binding" size="2" color="#F4F4F4">{{scheduleToday[4]}}</font>
									<div class="s-today"></div>
								</div>
							</td>
							<td>
								<font class="" size="1" color="#F4F4F4">已结束任务</font>
							</td>
							<td>
								<div class="row align-items-center m-0 p-0">
									<font class="ml-1 ng-binding" size="2" color="#F4F4F4">{{scheduleTomorrow[4]}}</font>
								</div>
							</td>
						</tr>
					</tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card col ml-3 mr-3 home-card">
            <div class="card-header home-card-header p-2">监控数据报表</div>
            <div class="card-body">
                <div class="mb-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
					<div class="row justify-content-between mb-2">
						<div>
							<img src="{{ url_for('static',filename='admin/images/icon_title.png') }}">
							<font class="ml-2" color="white" size="2">近6个月累积里程和行驶时长</font>
						</div>
						<div>
							<img src="{{ url_for('static',filename='admin/images/home-icon-m.png') }}" width="24"><font size="1" class="ml-1">里程(公里)</font>
							<img src="{{ url_for('static',filename='admin/images/home-icon-t.png') }}" width="24" class="ml-1"><font size="1" class="ml-1">时长(小时)</font>
						</div>
					</div>
                    <canvas id="travelSummary" width="324" height="162" style="display: block; width: 324px; height: 162px;" class="chartjs-render-monitor"></canvas>
                    <div class="dropdown-divider" style="border-top: 1px solid rgb(15,45,115);"></div>
					<div class="row justify-content-between align-items-center">
						<div>
							<img src="{{ url_for('static',filename='admin/images/icon_title.png') }}">
							<font class="ml-2" color="white" size="2">车辆监控</font>
						</div>
						<div class="">
							<font size="2">全部车辆 <b class="ng-binding">1</b> 辆</font>
						</div>
					</div>
                    <canvas class="mt-3 chartjs-render-monitor" id="carMonitorChart" width="324" height="162" style="display: block; width: 324px; height: 162px;"></canvas>
                </div>
            </div>
        </div>
        <div class="card col home-card">
            <div class="card-header home-card-header p-2">财务数据报表</div>
            <div class="card-body">
                <div class="mb-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
					<div class="row justify-content-between">
						<div>
							 <img src="{{ url_for('static',filename='admin/images/icon_title.png') }}">
							 <font class="ml-2" color="white" size="2">近6个月利润、收入、支出</font>
						</div>
						<div class="row p-0 m-0 align-items-center">
							<span class="div-circle"></span><font size="1" class="ml-1">利润</font>
							<span class="div-circle ml-2" style="background: rgb(38, 247, 206);"></span><font size="1" class="ml-1">收入</font>
							<span class="div-circle ml-2" style="background: rgb(1, 168, 250);"></span><font size="1" class="ml-1">支出</font>
						</div>
					</div>
                    <canvas id="financialChart" width="324" height="324" class="chartjs-render-monitor" style="display: block; width: 324px; height: 324px;"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
            </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='admin/js/Chart.js') }}"></script>
<script>
    var ctx1 = document.getElementById('halfYearSchedules').getContext('2d');
        var chart = new Chart(ctx1, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {{ halfYearSchedules|safe }},
            options: {
                legend: {
                    display: false
                }
            }
        });
    var ctx2 = document.getElementById('travelSummary').getContext('2d');
        var myLineChart = new Chart(ctx2, {
            type: 'line',
            data: {{ travelSummary|safe }},
            options: {
                legend: {
                    display: false
                }
            }
        });
    var ctx3 = document.getElementById('carMonitorChart').getContext('2d');
        var myDoughnutChart = new Chart(ctx3, {
            type: 'doughnut',
            data: {{ carMonitorChart|safe }},
            options: {
                legend: {
                    position: 'right'
                }
            }
        });
    var ctx4 = document.getElementById('financialChart').getContext('2d');
        var myDoughnutChart = new Chart(ctx4, {
            type: 'horizontalBar',
            data:{{ financialChart|safe }},
            options: {
                legend: {
                    display: false
                }
            }
        });
</script>
<script>
    $(document).ready(function () {
        $("#g-1 img").attr('src','{{ url_for('static',filename='admin/images/selector-home.png') }}');
        $("#g-1 span").addClass("text-white");
    })
</script>
{% endblock %}