{% extends "admin/home.html" %}
{% block css %}
<style>
table{
	font-size: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="content-center-div" id="content-center-div">
     <div class="app-content-body fade-in-up ng-scope" ui-view="" style="">
         <div ui-view="" ng-controller="driverController" class="ng-scope">

<div class="page-container ng-scope" ng-controller="driverListController">
    <div class="row align-items-center">
        <div class="title-icon-style mr-2"></div>
        <font color="#4c4c4c">请假审批</font>
    </div>
    <div class="w-100 bg-white card mt-2 page-card">
        <div class="row justify-content-between mt-2">
            <div class="row align-items-center">
                <div class="">
                    {% if type == 0 %}
                        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for("admin.leaveList",type=0) }}">待我审批</a>
                        <a class="btn btn-sm btn-outline-primary" role="button" href="{{ url_for("admin.leaveList",type=1) }}">审批完成</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-primary" role="button" href="{{ url_for("admin.leaveList",type=0) }}">待我审批</a>
                        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for("admin.leaveList",type=1) }}">审批完成</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="mt-3 table-sticky-view">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">申请人</th>
                    <th scope="col">联系电话</th>
                    <th scope="col">开始时间</th>
                    <th scope="col">结束时间</th>
                    <th scope="col">审批状态</th>
                    <th scope="col" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in leave_list %}
                  <tr class="ng-scope">
                    <td class="ng-binding">{{ loop.index}}</td>
                    <td class="ng-binding">{{ v.driver.name }}</td>
                    <td class="ng-binding">{{ v.driver.phone }}</td>
                    <td class="ng-binding">{{ v.start_time }}</td>
                    <td class="ng-binding">{{ v.end_time }}</td>
                    <td class="ng-binding">
                    {% if v.status == 0 %}
                        <div style="color:#15ff13" class="ng-binding">待审核</div>
                    {% elif v.status == 1 %}
                        <div style="color:#3b8cff" class="ng-binding">审核通过</div>
                    {% elif v.status == 2 %}
                        <div style="color:red" class="ng-binding">审核不通过</div>
                    {% else %}
                        <div style="color:#889195" class="ng-binding">已结束</div>
                    {% endif %}
                    </td>
                    <td>
                        <div class="text-primary row justify-content-center align-items-center">
                            <button type="button" data-toggle="modal" data-target="#Modal" onclick="addContent('{{ v.content }}','{{ v.notice }}','{{ v.id }}')" class="btn btn-outline-primary btn-sm ml-1">查看详情</button>
                            <button type="button" data-toggle="modal" data-target="#Modal2" onclick="addId('{{ v.id }}')"  class="btn btn-outline-danger btn-sm ml-1">删除</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
                     aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">请假详情</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h6 style="margin-left: 10px;">请假原因：</h6><div class="modal-body" id="content"></div>
                            <h6 style="margin-left: 10px;">备注：</h6><div class="modal-body" id="notice"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="editStatus('1')">同意</button>
                                <button type="button" class="btn btn-danger" onclick="editStatus('2')">不同意</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog"
                     aria-labelledby="Modal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal2Label">提醒</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">确认删除此信息</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="del()">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
            <input type="hidden" id="delId">
            <input type="hidden" id="leave_id">
                <!-- ngIf: !emptyList --><tfoot ng-if="!emptyList" class="ng-scope">
                <tr>
                    <!-- ngIf: !toEnd -->
                    <!-- ngIf: toEnd --><td colspan="9" ng-if="toEnd" class="ng-scope">
                        <div class="row justify-content-center tab-footer-loading-div"><font color="#CCCCCC">已经到底了</font>
                        </div>
                    </td><!-- end ngIf: toEnd -->
                </tr>
                </tfoot><!-- end ngIf: !emptyList -->
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3" ng-show="!emptyList">
        共有<font color="red" class="ng-binding">{{ leave_list|count }}</font>条数据
    </div>
</div>
</div></div>
</div>
{% endblock %}
{% block js %}
<script>
function addContent(content,notice,id) {
    $("#content").text(content);
    $("#notice").text(notice);
    $("#leave_id").val(id);
}
function addId(id) {
    $("#delId").val(id);
}
function del() {
    var id = $("#delId").val();
    var str = "{{url_for("admin.leaveDel")}}?id=";
    location.href =str+id;
}
function editStatus(status) {
    var id = $("#leave_id").val();
    var str = "{{url_for("admin.leaveStatus")}}?id=";
    location.href =str+id+'&status='+status;
}
</script>
<script>
    $(document).ready(function () {
        $("#g-6 img").attr('src','{{ url_for('static',filename='admin/images/selector-finance.png') }}');
        $("#g-6 span:eq(0)").addClass("text-white");
        $("#g-6 span:eq(1)").addClass("glyphicon-chevron-down text-white");
        $("#g-6-1 span").addClass("text-white");
        $("#g-6-1").parent().css('display','block');
    })
</script>
{% endblock %}