
<div class="menu-container">
            <div>
                <img src="{{ url_for('static',filename='admin/images/logo.png') }}" height="100">
            </div>
            <div id="cheoa-menu">
                <div class="card">
                    <div class="card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link" href="{{ url_for("admin.index") }}" style="text-decoration:none;">
                            <div id="g-1" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/home.png') }}">
                                <span style="font-size: 16px" class="ng-binding">首页</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-2" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/base.png') }}">
                                <span style="font-size: 16px" class="ng-binding">基础信息</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-2-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.carList") }}"><span class="ng-binding">车辆</span></a>
                                </li>
                                <li id="g-2-2" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.driverList") }}"><span class="ng-binding">司机</span></a>
                                </li>
                                <li id="g-2-3" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.driverList") }}"><span class="ng-binding">账号</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-3" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/task.png') }}">
                                <span style="font-size: 16px" class="ng-binding">排班调度</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-3-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.scheduleList") }}"><span class="ng-binding">排班调度</span></a>
                                </li>
                                <li id="g-3-2" class="nav-item ng-scope">
                                    <a class="nav-link" href="#/app/vehicle/list"><span class="ng-binding">排版报表</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-4" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/monitor.png') }}">
                                <span style="font-size: 16px" class="ng-binding">定位监控</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-4-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.monitor") }}"><span class="ng-binding">定位监控</span></a>
                                </li>
                                <li id="g-4-2" class="nav-item ng-scope">
                                    <a class="nav-link" href="#/app/vehicle/list"><span class="ng-binding">查看轨迹</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-5" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/expense.png') }}">
                                <span style="font-size: 16px" class="ng-binding">财务结算</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-5-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.expenseList") }}"><span class="ng-binding">财务结算</span></a>
                                </li>
                                <li id="g-5-2" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.expenseType") }}"><span class="ng-binding">费用类型</span></a>
                                </li>
                                <li id="g-5-3" class="nav-item ng-scope">
                                    <a class="nav-link" href="#/app/vehicle/list"><span class="ng-binding">费用审批</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-6" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/leave.png') }}">
                                <span style="font-size: 16px" class="ng-binding">考勤统计</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-6-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="#/app/vehicle/list"><span class="ng-binding">请假审批</span></a>
                                </li>
                                <li id="g-6-2" class="nav-item ng-scope">
                                    <a class="nav-link" href="#/app/vehicle/list"><span class="ng-binding">请假统计</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="menu-child card-header row align-items-center justify-content-between m-0 p-1">
                        <a class="btn btn-link">
                            <div id="g-7" class="row align-items-center p-0 m-0">
                                <img style="width: 16px;height: auto" class="mr-2" src="{{ url_for('static',filename='admin/images/broadcast.png') }}">
                                <span style="font-size: 16px" class="ng-binding">公告提醒</span>
                                <span class="glyphicon glyphicon-chevron-right s-right"></span>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body ml-4 p-1">
                            <ul class="nav flex-column menu-ul">
                                <!-- ngRepeat: subItem in item.subItems -->
                                <li id="g-7-1" class="nav-item ng-scope">
                                    <a class="nav-link" href="{{ url_for("admin.noticeList") }}"><span class="ng-binding">公告列表</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>