{% extends "admin/home.html" %}
{% block css %}
    <style>
        html,body,#container{
            height:100%;
            width:100%;
        }
        .amap-icon img{
            width: 25px;
            height: 34px;
        }
    </style>
{% endblock %}
{% block content %}
<div id="container"></div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static',filename='admin/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dfdf4bf6d790e5d80a248168446dfe75"></script>
    <script>
    $(document).ready(function () {
        $("#g-4 img").attr('src','{{ url_for('static',filename='admin/images/selector-task.png') }}');
        $("#g-4 span:eq(0)").addClass("text-white");
        $("#g-4 span:eq(1)").addClass("glyphicon-chevron-down text-white");
        $("#g-4-1 span").addClass("text-white");
        $("#g-4-1").parent().css('display','block');
    })
</script>
<script type="text/javascript">
    // 创建地图实例
    var map = new AMap.Map("container", {
        zoom: 13,
        center: ['122.51312977053033','37.16826066111377'],
        resizeEnable: true
    });
	// 创建一个 Icon
    var startIcon = new AMap.Icon({
        // 图标尺寸
        size: new AMap.Size(26, 13),
        // 图标的取图地址
        image: "{{ url_for('static',filename='admin/images/car_1.png') }}",
        // 图标所用图片大小
        imageSize: new AMap.Size(26, 13)
    });

    // 将 icon 传入 marker
setInterval("test()",2000);
function test() {
    console.log('1');
    $.ajax({
        url: 'http://127.0.0.1:5555/admin/monitor/detail/',
        async: true,
        type: 'get',
        success: function (data) {
            b = data.data.location.split(',');
            var startMarker = new AMap.Marker({
                position: new AMap.LngLat(b[0], b[1]),
                icon: startIcon,
                label: {
                    content: 'A1234',
                    offset: new AMap.Pixel(-10, -25)
                }
            });
            // 将 markers 添加到地图
            map.add([startMarker]);
        },
    });
       map.clearMap()
}
</script>
{% endblock %}