{% extends "admin/home.html" %}
{% block css %}
    <link href="{{ url_for('static',filename='admin/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<div class="content-center-div" id="content-center-div">
              <!-- <div ui-butterbar></div> -->
              <!-- <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a> -->
              <!-- uiView:  -->
    <div class="app-content-body fade-in-up ng-scope" ui-view="" style=""><!-- uiView:  -->
        <div ui-view="" ng-controller="vehicleController" class="ng-scope" style="">
            <style class="ng-scope">
.dropdown-item-select{
  cursor: pointer;
}
.dropdown-item-select:hover{
  color: #2da0f0;
}
.car-div{
  cursor: pointer;
}
.car-div:hover{
  background: #f4f4f4;
}
</style>
<div class="page-container">
<div class="card page-card">
  <div class="row align-items-center">
    <div class="title-icon-style mr-2"></div>
    <font color="#4c4c4c" class="ng-binding">添加排班</font>
    <a type="button" class="btn btn-outline-secondary btn-sm ml-3" href="{{ url_for("admin.scheduleList") }}">返回上层</a>
  </div>
  <div class="dropdown-divider"></div>
  <form name="form" method="post">
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.unit.label }}:</label>
      <div class="col-8">
        {{ form.unit}}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.user.label }}:</label>
      <div class="col-8">
        {{ form.user}}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.phone.label }}:</label>
      <div class="col-8">
        {{ form.phone}}
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div>
      <div class="offset-1"><b>行程信息</b></div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.start_point.label }}:</label>
      <div class="col-8">
        {{ form.start_point}}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.end_point.label }}:</label>
      <div class="col-8">
        {{ form.end_point}}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.start_time.label }}:</label>
      <div class="col-8">
        {{ form.start_time}}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
     <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.end_time.label }}:</label>
      <div class="col-8">
        {{ form.end_time}}
      </div>
    </div>
     <div class="dropdown-divider"></div>
    <div>
    <div class="offset-1"><b>车辆/司机信息</b></div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right">选择司机:</label>
      <div class="col-8">
        {% if driver_list|length == 0 %}
            <select class="form-control">
            <option value="1">暂无空闲司机</option>
            </select>
        {% else %}
             <select class="form-control" name="driver_id">
            {% for v in driver_list %}
            <option value="{{ v.id }}">{{ v.name}}|{{ v.phone }} </option>
            {% endfor %}
            </select>
        {% endif %}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right">选择车辆:</label>
      <div class="col-8">
       {% if car_list|length == 0 %}
            <select class="form-control">
            <option value="1">暂无空闲车辆</option>
            </select>
        {% else %}
            <select class="form-control" name="car_id">
            {% for v in car_list %}
            <option value="{{ v.id }}">{{ v.number}}|{{ v.nickname }} </option>
            {% endfor %}
            </select>
        {% endif %}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right">暂不选择司机与车辆:</label>
      <div class="col-8">
         <input type="checkbox" class="form-check-input" name="selectDC">
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div>
    <div class="offset-1"><b>费用信息</b></div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.money.label }}（元）:</label>
      <div class="col-8">
        {{ form.money }}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right"><font color="red">*</font>{{ form.driver_money.label }}（元）:</label>
      <div class="col-8">
        {{ form.driver_money }}
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div>
      <div class="offset-1"><b>附加信息</b></div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group row justify-content-center mt-3">
      <label class="col-2 col-form-label col-form-label-sm text-right">{{ form.content.label }}:</label>
      <div class="col-8">
        {{ form.content }}
      </div>
    </div>
    <div class="form-group row justify-content-center mt-3">
        {{ form.submit }}
		{{ form.csrf_token }}
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#g-3 img").attr('src','{{ url_for('static',filename='admin/images/selector-task.png') }}');
        $("#g-3 span:eq(0)").addClass("text-white");
        $("#g-3 span:eq(1)").addClass("glyphicon-chevron-down text-white");
        $("#g-3-1 span").addClass("text-white");
        $("#g-3-1").parent().css('display','block');
    })
</script>
<script type="text/javascript" src="{{ url_for('static',filename='admin/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
<script>
    $('#datetimepicker').datetimepicker({
      format: 'yyyy-mm-dd hh:ii'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'yyyy-mm-dd hh:ii'
    });
</script>
{% endblock %}