{% extends "admin/home.html" %}
{% block css %}
<link href="{{ url_for('static',filename='admin/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">
<style>
table{
	font-size: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="content-center-div" id="content-center-div">
     <div class="app-content-body fade-in-up ng-scope" ui-view="" style="">
         <div ui-view="" ng-controller="driverController" class="ng-scope">

<div class="page-container ng-scope" ng-controller="driverListController">
    <div class="row align-items-center">
        <div class="title-icon-style mr-2"></div>
        <font color="#4c4c4c">排班列表</font>
    </div>
    <div class="w-100 bg-white card mt-2 page-card">
        <div class="row justify-content-between mt-2">
		    <div class="row align-items-center col-6 m-0 p-0">
		        <div>
					<select id="sel"  onchange="doSel();" class="form-control form-control-sm">
                        <option label="全部排班" value="4">全部排班</option>
                        <option label="未分配司机/车辆" value="0">未分配司机/车辆</option>
                        <option label="未开始" value="1">未开始</option>
                        <option label="正在进行" value="2">正在进行</option>
                        <option label="已结束" value="3">已结束</option>
                    </select>
		        </div>
				<input id="searchContent" type="text" class="form-control form-control-sm mr-2 col-5 mr-2 ml-2" placeholder="车牌号/司机/用车人/用车单位">
				<button onclick="searchContent()" class="btn btn-primary btn-sm" style="padding-left: 1.25rem;padding-right: 1.25rem;">搜索</button>
		    </div>
		    <div>
		    	<div class="input-group input-group-sm">
				  <input type="text" placeholder="起始日期" id="datetimepicker" class="form-control input-date-picker">
				  <div class="input-group-append">
					<button class="btn btn-outline-secondary btn-date-time" type="button">至</button>
				  </div>
				  <input type="text" placeholder="截至日期" id="datetimepicker2" class="form-control input-date-picker">
				  <div class="input-group-append">
						<button class="btn btn-primary" type="button" onclick="searchTime(1)">查询</button>
						<div class="btn-group">
							<button hidden="hidden"></button>
							<button class="btn btn-outline-primary btn-sm" onclick="searchTime(2)">昨天</button>
							<button class="btn btn-outline-primary btn-sm" onclick="searchTime(3)">今天</button>
							<button class="btn btn-outline-primary btn-sm" onclick="searchTime(4)">明天</button>
						</div>
				  </div>
				</div>
			</div>
		</div>
        <div class="row justify-content-between mt-2">
            <div class="row align-items-center">
                <div class="">
                    <a class="btn btn-primary btn-sm" role="button" href="{{ url_for("admin.scheduleAdd") }}">添加排班</a>
                </div>
            </div>
        </div>
        <div class="mt-3 table-sticky-view">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">用车人</th>
                    <th scope="col">行程</th>
                    <th scope="col">司机/车辆</th>
                    <th scope="col">状态</th>
                    <th scope="col" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in schedule_list %}
                  <tr class="ng-scope">
                    <td><font class="text-primary ng-binding">{{ loop.index}}</font></td>
                    <td>
                        <div class="ng-binding">{{ v.user }}/{{ v.phone }}</div>
                        <div class="ng-binding">{{ v.unit }}</div>
                    </td>
                    <td>
                        <div style="color:#2da0f0">
							<font>起：</font>
							<font class="ng-binding">{{v.start_time}}</font>
							<font style="word-break: break-all;" class="ng-binding">{{ v.start_point }}</font>
						</div>
                        <div style="color:red">
							<font>终：</font>
							<font class="ng-binding">{{v.end_time}}</font>
							<font style="word-break: break-all;" class="ng-binding">{{ v.end_point }}</font>
						</div>
                    </td>
                    <td>
                        <div class="ng-binding">{{v.driver.name}}/{{v.driver.phone}}</div>
                        <div class="ng-binding">{{v.car.number}}/{{v.car.nickname}}</div>
                    </td>
                    <td class="ng-binding">
                        {% if v.status == 0 %}
                            <div style="color:red" class="ng-binding">未分配司机与车辆</div>
                        {% elif v.status == 1 %}
                            <div style="color:red" class="ng-binding">未开始</div>
                        {% elif v.status == 2 %}
                            <div style="color:#3b8cff" class="ng-binding">正在进行</div>
                        {% else %}
                            <div style="color:#889195" class="ng-binding">已结束</div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="text-primary row justify-content-center align-items-center">
                            {% if v.status == 0 or v.status == 1 %}
                                <button type="button" onclick="window.location.href ='{{ url_for('admin.scheduleEdit',id=v.id) }}'" class="btn btn-outline-primary btn-sm ml-1">编辑排班</button>
                            {% else %}
                                <button type="button" onclick="window.location.href ='{{ url_for('admin.scheduleEdit',id=v.id) }}'" class="btn btn-outline-primary btn-sm ml-1">查看详情</button>
                            {% endif %}
                            <button type="button" data-toggle="modal" data-target="#Modal2" onclick="addId('{{ v.id }}')"  class="btn btn-outline-danger btn-sm ml-1">删除</button>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                <!-- ngIf: !emptyList --><tfoot ng-if="!emptyList" class="ng-scope">
                <tr>
                    <!-- ngIf: !toEnd -->
                    <!-- ngIf: toEnd --><td colspan="9" ng-if="toEnd" class="ng-scope">
                        <div class="row justify-content-center tab-footer-loading-div"><font color="#CCCCCC">已经到底了</font>
                        </div>
                    </td><!-- end ngIf: toEnd -->
                </tr>
                </tfoot><!-- end ngIf: !emptyList -->
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3" ng-show="!emptyList">
        共有<font color="red" class="ng-binding">{{ schedule_list|count }}</font>条数据
    </div>
</div>
</div></div>
            </div>
    <input type="hidden" id="delId">
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog"
                     aria-labelledby="Modal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal2Label">提醒</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">确认删除此信息</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="del()">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#g-3 img").attr('src','{{ url_for('static',filename='admin/images/selector-task.png') }}');
        $("#g-3 span:eq(0)").addClass("text-white");
        $("#g-3 span:eq(1)").addClass("glyphicon-chevron-down text-white");
        $("#g-3-1 span").addClass("text-white");
        $("#g-3-1").parent().css('display','block');
    })
</script>
<script>
    $(document).ready(function () {
        //类型筛选
        $("#sel option").each(function() {
           if($(this).val() == {{sel}}) {
                $(this).attr("selected","selected");
           }else {
                $(this).removeAttr("selected")
           }
        });
        $("#searchContent").val("{{ content }}");
        $("#datetimepicker").val("{{ start }}");
        $("#datetimepicker2").val("{{ end }}");
    })
</script>
<script>
function addId(id) {
    $("#delId").val(id);
}
function del() {
    var id = $("#delId").val();
    var str = "{{url_for("admin.scheduleDel")}}?id=";
    location.href =str+id;
}
</script>
<script type="text/javascript">
   function doSel(){
       var type = 1;
       var sel = $("#sel option:selected").val();
       var str = "{{url_for("admin.contentSearch")}}?type=";
       location.href =str+type+"&sel="+sel;
   }
   function searchContent(){
       var type = 2;
       var content = $("#searchContent").val();
       var str = "{{url_for("admin.contentSearch")}}?type=";
       location.href =str+type+"&content="+content;
   }
   function searchTime(time){
       var type = 3;
       var start;
       var end;
       if(time==1){
           start = $("#datetimepicker").val();
           end = $("#datetimepicker2").val();
       }else{
           start='';
           end='';
       }
       var str = "{{url_for("admin.contentSearch")}}?type=";
       location.href =str+type+"&time="+time+"&start="+start+"&end="+end;
   }
</script>
{% endblock %}