{% extends "admin/home.html" %}
{% block css %}
<link href="{{ url_for('static',filename='admin/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">
<style>
table{
	font-size: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="content-center-div" id="content-center-div">
     <div class="app-content-body fade-in-up ng-scope" ui-view="" style="">
         <div ui-view="" ng-controller="driverController" class="ng-scope">

<div class="page-container ng-scope" ng-controller="driverListController">
    <div class="row align-items-center">
        <div class="title-icon-style mr-2"></div>
        <font color="#4c4c4c">查看轨迹</font>
    </div>
    <div class="w-100 bg-white card mt-2 page-card">
        <div class="row justify-content-between mt-2">
		    <div class="row align-items-center col-6 m-0 p-0">
		        <div>
					<select class="form-control form-control-sm ng-pristine ng-valid ng-not-empty ng-touched" ng-model="params.schedulingStatus" ng-change="selectStatus(params.schedulingStatus)" ng-options="v.value as v.name for v in STATUS" style=""><option label="全部排班" value="number:1023" selected="selected">全部排班</option><option label="未分配司机" value="number:1">未分配司机</option><option label="未通知司机" value="number:2">未通知司机</option><option label="已发送任务" value="number:4">已发送任务</option><option label="已接收任务" value="number:8">已接收任务</option><option label="已通知客户" value="number:32">已通知客户</option><option label="已到达起点" value="number:16">已到达起点</option><option label="未完成任务" value="number:63">未完成任务</option><option label="已完成任务" value="number:64">已完成任务</option></select>
		        </div>
				<div style="margin-left: 5px">
					<select class="form-control form-control-sm ng-pristine ng-valid ng-empty ng-touched" ng-model="params.schedulingType" ng-change="selectType()" ng-options="v.value as v.name for v in TYPES" style=""><option label="全部类型" value="undefined:undefined" selected="selected">全部类型</option><option label="班车" value="number:1">班车</option><option label="普通" value="number:2">普通</option><option label="预订" value="number:4">预订</option><option label="审批" value="number:5">审批</option></select>
				</div>
				<input type="text" class="form-control form-control-sm mr-2 col-5 mr-2 ml-2 ng-pristine ng-valid ng-empty ng-touched" placeholder="车牌号/司机/用车人/用车单位" ng-model="params.keyword" ng-keypress="enterSearch($event)" style="">
				<button ng-click="refreshDataList(true)" class="btn btn-primary btn-sm" style="padding-left: 1.25rem;padding-right: 1.25rem;">搜索</button>
		    </div>
		    <div>
		    	<div class="input-group input-group-sm">
				  <input type="text" placeholder="起始日期" id="datetimepicker" class="form-control input-date-picker">
				  <div class="input-group-append">
					<button class="btn btn-outline-secondary btn-date-time" type="button">至</button>
				  </div>
				  <input type="text" placeholder="截至日期" id="datetimepicker2" class="form-control input-date-picker">
				  <div class="input-group-append">
						<button class="btn btn-primary" type="button" ng-click="filterDate()" ng-disabled="!canFilterDate">查询</button>
						<div class="btn-group">
							<button hidden="hidden"></button>
							<button class="btn btn-outline-primary btn-sm" ng-click="filterDate('yesterday')">昨天</button>
							<button class="btn btn-outline-primary btn-sm" ng-click="filterDate('today')">今天</button>
							<button class="btn btn-outline-primary btn-sm" ng-click="filterDate('tomorrow')">明天</button>
						</div>
				  </div>
				</div>

			</div>
		</div>
        <div class="mt-3 table-sticky-view">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">用车人</th>
                    <th scope="col">行程</th>
                    <th scope="col">司机/车辆</th>
                    <th scope="col">状态</th>
                    <th scope="col" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in schedule_list %}
                  <tr class="ng-scope">
                    <td><font class="text-primary ng-binding">{{ loop.index}}</font></td>
                    <td>
                        <div class="ng-binding">{{ v.user }}/{{ v.phone }}</div>
                        <div class="ng-binding">{{ v.unit }}</div>
                    </td>
                    <td>
                        <div style="color:#2da0f0">
							<font>起：</font>
							<font class="ng-binding">{{v.start_time}}</font>
							<font style="word-break: break-all;" class="ng-binding">{{ v.start_point }}</font>
						</div>
                        <div style="color:red">
							<font>终：</font>
							<font class="ng-binding">{{v.end_time}}</font>
							<font style="word-break: break-all;" class="ng-binding">{{ v.end_point }}</font>
						</div>
                    </td>
                    <td>
                        <div class="ng-binding">{{v.driver.name}}/{{v.driver.phone}}</div>
                        <div class="ng-binding">{{v.car.number}}/{{v.car.nickname}}</div>
                    </td>
                    <td class="ng-binding">
                        {% if v.status == 0 %}
                            <div style="color:red" class="ng-binding">未分配司机</div>
                        {% elif v.status == 1 %}
                            <div style="color:red" class="ng-binding">未开始</div>
                        {% elif v.status == 2 %}
                            <div style="color:#3b8cff" class="ng-binding">正在进行</div>
                        {% else %}
                            <div style="color:#889195" class="ng-binding">已结束</div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="text-primary row justify-content-center align-items-center">
                            <button type="button" onclick="window.location.href ='{{ url_for('admin.trackDetail',id=v.id) }}'" class="btn btn-outline-primary btn-sm ml-1">查看轨迹</button>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                <!-- ngIf: !emptyList --><tfoot ng-if="!emptyList" class="ng-scope">
                <tr>
                    <!-- ngIf: !toEnd -->
                    <!-- ngIf: toEnd --><td colspan="9" ng-if="toEnd" class="ng-scope">
                        <div class="row justify-content-center tab-footer-loading-div"><font color="#CCCCCC">已经到底了</font>
                        </div>
                    </td><!-- end ngIf: toEnd -->
                </tr>
                </tfoot><!-- end ngIf: !emptyList -->
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3" ng-show="!emptyList">
        共有<font color="red" class="ng-binding">{{ schedule_list|count }}</font>条数据
    </div>
</div>
</div></div>
            </div>
    <input type="hidden" id="delId">
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog"
                     aria-labelledby="Modal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal2Label">提醒</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">确认删除此信息</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="del()">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#g-4 img").attr('src','{{ url_for('static',filename='admin/images/selector-task.png') }}');
        $("#g-4 span:eq(0)").addClass("text-white");
        $("#g-4 span:eq(1)").addClass("glyphicon-chevron-down text-white");
        $("#g-4-2 span").addClass("text-white");
        $("#g-4-2").parent().css('display','block');
    })
</script>
<script>
function addId(id) {
    $("#delId").val(id);
}
function del() {
    var id = $("#delId").val();
    var str = "{{url_for("admin.scheduleDel")}}?id=";
    location.href =str+id;
}
</script>
{% endblock %}