<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>大学计算机实验报告批阅管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/morris-0.4.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}">
    <link href="{{ url_for('static',filename='css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">

  </head>

  <body>

    <div id="wrapper">
      {% block content %}{% endblock %}
    </div><!-- /#wrapper -->
                <input type="hidden" id="editId">
                <div class="modal fade" id="Modal1" tabindex="-1" role="dialog"
                     aria-labelledby="Modal1Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal1Label">提醒</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">确认恢复密码</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="edit()">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="delId">
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog"
                     aria-labelledby="Modal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal2Label">提醒</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">确认删除此信息</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="del()">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- JavaScript -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/raphael-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
    <script type="text/javascript">
       $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - hh:ii"
    });
  </script>
  {% block js %}{% endblock %}
  </body>
</html>
