{include file="public/header" /}

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      {include file="public/menu" /}

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <form method="post" action="{:url('index/driveCard')}"  role="form">
              <h1>驾驶证基本信息</h1>
              <input type="hidden" value="驾驶证基本信息" name="title">
              <div class="form-group">
                <label>证号</label>
                <input type="text" class="form-control" placeholder="" value="{$res['number']}" name="number">
              </div>
              <div class="form-group">
                <label>姓名</label>
                <input type="text" class="form-control" value="{$res['name']}" placeholder="" name="name">
              </div>
              <div class="form-group">
                <label>性别</label>
                <input type="text" class="form-control" value="{$res['sex']}" placeholder="" name="sex">
              </div>
              <div class="form-group">
                <label>国籍</label>
                <input type="text" class="form-control" value="{$res['nation']}" placeholder="" name="nation">
              </div>
              <div class="form-group">
                <label>地址</label>
                <input type="text" class="form-control" value="{$res['address']}" placeholder="" name="address">
              </div>
              <div class="form-group">
                <label>出生日期</label>
                <input type="text" class="form-control" value="{$res['born_date']}" placeholder="如：2020-02-22" name="born_date">
              </div>
              <div class="form-group">
                <label>初次领证日期</label>
                <input type="text" class="form-control" value="{$res['get_date']}" placeholder="如：2020-02-22" name="get_date">
              </div>
              <div class="form-group">
                <label>准驾车型</label>
                <input type="text" class="form-control" value="{$res['car_type']}" placeholder="" name="car_type">
              </div>
              <div class="form-group">
                <label>有效期限</label>
                <input type="text" class="form-control" value="{$res['limit_date']}" placeholder="" name="limit_date">
              </div>
              <div class="form-group">
                <label>插入驾驶证图片</label>
                <input type="file" id="input-id" name="img" accept="image/*"/>
              </div>
              {if condition="$res eq null"}
              <button type="submit" class="btn btn-primary">确认添加</button>
              {else /}
              <button type="submit" class="btn btn-primary">确认修改</button>
              {/if}
              <input type="hidden" value="" name="picture_url" id="path">
            </form>
          </div>
          <div class="col-lg-4"></div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {include file="public/footer" /}
    <script>
        $(document).ready(function(){
            $("#path").attr("value","{$res.picture_url}");
        });
        $("#input-id").fileinput({
            language: "zh",
            showCaption: false, // 不显示本地文件名
            allowedFileTypes: ['image'], // 只允许上传图片
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            initialPreview: [
                '<img class="file-preview-image kv-preview-data" src='+'"{$res.picture_url}">'
            ],
            uploadUrl: "{:url('index/upload')}" //上传图片的服务器地址
        }).on("fileuploaded", function (event, data, previewId, index){
            $("#path").attr("value",data.response["path"]);
        });
    </script>
  </body>
</html>