{include file="public/header" /}

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      {include file="public/menu" /}
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>欢迎进入车辆审核管理系统</h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> 审核须知</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              审核须知具体内容
              <br>1<br>2
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {include file="public/footer" /}
  </body>
</html>
