{include file="public/header" /}

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      {include file="public/menu" /}
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>欢迎进入车辆审核管理系统</h1>
            <div class="card"><div class="card-body"><h4 class="mt-0">审核须知</h4>
              <p class="text-muted font-13 mb-4">
                一、准备事项<br>
                <span style="margin-left: 30px;"></span>所需要的东西：行驶证（正副页）、交强险保单（第三联，保险必须至少在下一个检车周期内一个月以上有效）、车主身份证、检车费用（170元）检查车辆违章情况，违章事项全部处理结束，方可检车。检车车辆外观（包括灯光、轮胎、外表、轮胎气压、灭火器等），特别注意检查轮胎气压（不能过高或过低，否则可能检测刹车时有影响），车底盘下有无漏油、漏气。最好简单清洗一下车体内外。<br>
                二、交费<br>
                <span style="margin-left: 30px;"></span>收费大厅，缴纳各项费用，填写相关材料，领取各项表格及拓号条<br>
                三、检测<br>
                <span style="margin-left: 30px;"></span>外检先有拓号人员给你免费拓号，记得打开前机关盖子。拓号人员用一张薄薄的拓号纸印上车的大架号，拓好号后，他会将拓号纸粘在一张单子下面，并盖好印章，交给你拿好。排号后，会有工作人员检查车辆外观情况，要求出示行驶证和刚才的单据并照相，外观审核没毛病后会给你签字并记录。上线检测车辆情况，要求出示身份证、行驶证和单据，由工作人员驾驶车辆进行检测，主要检测车辆灯光，刹车等。 检测尾气。要求出示行驶证、身份证和单据。然后，有引车员负责开车检测。检测合格后，打印绿标或者黄标，以及一张环保检测合格的小卡片。并在单据上盖章。
              </p>
              <div id="gmaps-markers" class="gmaps h-300"></div></div></div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {include file="public/footer" /}
  </body>
</html>
